<h3 class="movie-header">
  <%= movie.title %>
</h3>

<p class="movie-description">
  <%= movie.description %>
</p>

<%= link_to "Read About This Movie", movie_path(movie), {class: "movie-link"} %>

<br>

<%= link_to "See Available Tickets", movie_showtimes_path(movie), { class: "ticket-link" } %>

<br>

<%= link_to "Edit Movie", edit_movie_path(movie) %> | 
<%= link_to "Delete Movie", movie, method: :delete %>
