<div class="col-lg-6 mx-auto">
	<%= bootstrap_form_for(screen) do |f| %>
		<%= f.text_field :number,
										 value: screen.number %>

		<%= f.text_field :capacity,
										 value: screen.capacity %>

		<%= f.text_area :description, 
										value: screen.description %>

		<%= f.collection_select(:movie_id,
														Movie.all,
														:id,
														:title,
														{ value: screen.movie_id,
														include_blank: true }
														) %>

		<%= f.submit "Save Screen" %>
	<% end %>
</div>
