<div class="container-fluid">
	<ul class="nav justify-content-center sticky-top">
	  <%= content_tag(:li, 
	  								link_to("Home", root_path, class: "nav-link"), 
	  								class: "nav-item") %>

	  <%= content_tag(:li, 
	  								link_to("Add Movie", new_movie_path, class: "nav-link"), 
	  								class: "nav-item") %>

	  <%= content_tag(:li, 
	  								link_to("View Screens", screens_path, class: "nav-link"), 
	  								class: "nav-item") %>

	  <%= content_tag(:li, 
	  								link_to("Add Screen", new_screen_path, class: "nav-link"), 
	  								class: "nav-item") %>

	  <%= content_tag(:li, 
	  								link_to("View Orders", orders_path, class: "nav-link"), 
	  								class: "nav-item") %>
	</ul>
</div>