<h1 class="text-center"> Orders </h1>

<hr>

<p class="text-center"> Total Orders: <b> <%= number_to_currency @total %> </b></p>

<div class="col-4 mx-auto">
	<%= bootstrap_form_for('', method: :get, layout: :inline) do |f| %>
	  <%= f.collection_select "movie", 
	  												@movies, 
	  												:id, 
	  												"title",
	  												hide_label: true,
	  												include_blank: true %>

	  <%= f.submit 'Filter', name: nil %>
	<% end %>
</div>


<div class="col-md-9 mx-auto pagination-centered">

	<%= will_paginate @orders, class: "pagination col-md-7 mx-auto" %>

	<table class="table table-hover">
		<thead>
	    <tr>
	      <th> Order # </th>
	      <th> Total Of Order </th>
	      <th> Movie </th>
	    </tr>
	  </thead>

		<%= render @orders %>

	</table>
</div>
