<h1 class="text-center"> Showtime Orders </h1>

<hr>

<p class="text-center"> Total Orders: <b> <%= number_to_currency @total %> </b></p>

<div class="col-4 mx-auto">
	<%= bootstrap_form_for('', method: :get, layout: :inline) do |f| %>
	  <%= f.collection_select "movie", 
	  												@movies, 
	  												:id, 
	  												"title",
	  												hide_label: true,
	  												include_blank: true %>

	  <%= f.submit 'Filter', name: nil %>
	<% end %>
</div>

<%= render @orders %>

<%= will_paginate @orders %>