<tr>
  <td> <%= showtime.pretty_time %> </td>
  <td> <%= showtime.tickets_left %> </td>
  <td> <%= number_to_currency showtime.price %> </td>
  <td>
    <% if showtime.tickets_left > 0 %>
      <%= link_to "Buy Tickets", new_showtime_order_path(showtime) %>
    <% else %>
      Sold Out
    <% end %>
  </td>
  <td>
    <%= link_to "edit", edit_movie_showtime_path(showtime.movie, showtime) %>
  </td>
</tr>
