<!DOCTYPE html>
<html>
<head>
  <title>Watch A Movie</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
</head>
<body>
  <%= render partial: "shared/default_header" %>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
