<!DOCTYPE html>
<html>
<head>
  <title>Watch A Movie</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render partial: "shared/default_header" %>
    <%= yield %>
  </div>
</body>
</html>
